.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;

}

.header__nav>a {
  text-decoration: none;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 10px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
  outline: 0;
}

.header__searchIcon {
  padding: 5px;
  background-color: #cd9042;
  height: 22px !important;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  color: white;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 700;
}

.header__optionBasket {
  color: white;
  display: flex;
  align-items: center;

}

.header__optionBasketCount {
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 550px) {
  .header {
    display: flex;
    flex-direction: column;
    height:134px;
    width: 100%;
  
  }

  .header__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }

  .header__search {
    width: 96%;
  }

  .header__logo {
    /* margin-bottom: -20px; */

  }
}